rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla específica para el documento de precios
    match /configuracion/precios {
      allow read, write: if request.auth != null;
    }
    
    // Regla para el resto de documentos en configuracion
    match /configuracion/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Denegar todo lo demás por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}